<table class="table table-hover">
        <thead><tr><td>Name</td><td>Beschreibung</td><td><button type="button" ng-click="addHardware();" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add</button></td></tr></thead>
        <tbody>
        <tr ng-repeat="x in allHardware"><td>{{x.name}}</td><td>{{x.desc}}</td><td><button type="button" ng-click="change(x);" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Bearbeiten</button></td></tr>
        </tbody>
</table>


<div id="myModal" class="modal fade" role="dialog">
<div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title" ng-bind="furtherName"></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
        <table class="table">
                <tr><td>Name:</td><td><input type="text" ng-model="furtherName" /></td></tr>
                <tr><td>Description:</td><td><input type="text" ng-model="furtherDesc" /></td></tr>
        </table>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="delete()" data-dismiss="modal">Remove</button>
        <button type="button" class="btn btn-default" ng-click="save()" data-dismiss="modal">Save</button>
        <button type="button" class="btn" data-dismiss="modal">Close</button>
        </div>
        </div>

</div>
</div>