<select name="Houses" selected-index="0" ng-change="selectedHouseChanged()" ng-model="selectedHouse" ng-options="x.name for x in allHouses"></select>
<select name="Rooms" selected-index="0" ng-change="selectedRoomsChanged()" ng-model="selectedRoom" ng-options="x.name for x in allRooms"></select>
<button type="button" class="btn btn-default" data-toggle="modal" ng-click="addNewAnwendung();" data-target="#ModalAdd">Add</button>


<table class="table table-hover">
    <thead><tr><td>Name</td><td>Hardwaretype</td><td>Further Info</td></tr></thead>
    <tbody>
    <tr ng-repeat="x in allHardware"><td>{{x.name}}</td><td>{{x.hname}}</td><td><button type="button" ng-click="getInfos(x);" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open further Infos</button></td></tr>
    </tbody>
</table>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" ng-bind="furtherName"></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <table class="table">
              <tr><td>Name:</td><td ng-bind="furtherName"></td></tr>
              <tr><td>Description:</td><td ng-bind="furtherDesc"></td></tr>
              <tr><td>Type:</td><td ng-bind="furtherType"></td></tr>
              <tr><td>Typenbeschreibung:</td><td ng-bind="furtherTypeDesc"></td></tr>
          </table>

          <table class="table" ng-show="showNetworkInfo" style="margin-top: 10%">
                <tr><td>DHCP</td><td><input type="checkbox" ng-checked="furtherDHCP"  disabled="1"/></td></tr>
                <tr><td>weitere Netzwerk Info:</td><td ng-bind="furtherNetInfo"></td></tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteHW();">Delete</button>            
          <button type="button" class="btn btn-default" data-toggle="modal" ng-click="anwendungenModalOpened();" data-target="#myModalApp">Applications</button>
          <button type="button" class="btn btn-default" data-toggle="modal" ng-click="NetworkModalOpenend();" data-target="#ModalNetworkSettings">Network Settings</button>
          
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>

  <div id="myModalApp" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" ng-bind="furtherName"></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <table>
              <thead><tr><td>Available</td><td>Installed</td></tr></thead>
              <tr>
                <td>
                    <table class="table table-hover">
                        <thead><tr><td>Name</td><td>Beschreibung</td></tr></thead>
                        <tbody ondrop="angular.element(this).scope().droppedToAvail(event)" ondragover="angular.element(this).scope().allowDrop(event)">
                          <tr ng-repeat="x in allAnwendungen" name="{{x.id}}" draggable="true" ondragstart="angular.element(this).scope().drag(event)"><td>{{x.name}}</td><td>{{x.desc}}</td></tr>
                          <tr ng-if="allAnwendungen.length == 0"><td colspan="2">No more Applications</td></tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="table table-hover">
                        <thead><tr><td>Name</td><td>Beschreibung</td></tr></thead>
                        <tbody ondrop="angular.element(this).scope().droppedToInstalled(event)" ondragover="angular.element(this).scope().allowDrop(event)">
                          <tr ng-repeat="x in installedApps" name="{{x.id}}" draggable="true" ondragstart="angular.element(this).scope().drag(event)"><td>{{x.name}}</td><td>{{x.desc}}</td></tr>
                          <tr ng-if="installedApps.length == 0"><td colspan="2">Nothing installed</td></tr>
                        </tbody>
                    </table>
                </td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    
      </div>
    </div>

    <div id="ModalAdd" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">neue Anwendung</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <h4>Housing:</h4>
              <select name="Houses" ng-change="newHouseChanged()"  ng-model="selectedHouseForNew" ng-options="x.name for x in allHouses"></select>
              <h4>Room:</h4>
              <select name="Rooms" ng-model="selectedRoomForNew" ng-options="x.name for x in allRoomsForNew"></select>
              <h4>Type:</h4>
              <select name="Hardwaretype" ng-model="selectedHardwareForNew" ng-options="x.name for x in allHardwareTypes"></select>
              <h4>Name:</h4><input type="text" ng-model="nameForNew" />
              <h4>Description:</h4><input type="text" ng-model="descForNew" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="addNewHardwareToRoom()">Add</button>
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    
      </div>
    </div>

    <div id="ModalNetworkSettings" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Netzwerkeinstellungen</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
                <table class="table" style="margin-top: 10%">
                    <tr><td>DHCP</td><td><input type="checkbox" ng-model="newDHCP"/></td></tr>
                    <tr><td>weitere Netzwerk Info:</td><td><input type="text" ng-model="newNetworkInfo" /></td></tr>
                </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="SaveNetworkInfo()">Save</button>
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    
      </div>
    </div>